$colors: (
  black: #000000,
  white: #ffffff,
  white90: rgba(#ffffff, 0.9),
  blackish: #2a2a2b,
  bblack: #17132d,
  blue: #322666,
  dblue: #322865,
  blue87: rgba(#322666, 0.87),
  green: #85a810,
  faq-heading: #4b4078,
  border-clr: #d4d1df,
);
