input[type="submit"],
button {
  background-color: map-get($map: $colors, $key: yellow);
  padding: 18px 50px 16px 24px;
  line-height: 1;
  @include font(os, bold);
  font-size: 16px;
  color: map-get($map: $colors, $key: gray1);
  text-transform: uppercase;
  @include border-radius(6px);
  display: inline-block;
  background-image: url(../img/circle-arrow-black.svg);
  background-repeat: no-repeat;
  background-position: right 21px center;
  border: 1px solid map-get($map: $colors, $key: cc10);
  position: relative;
  height: 52px;
  outline: none;
  cursor: pointer;
}

input[type="submit"]:hover,
button:hover {
  border-color: map-get($map: $colors, $key: cc20);
}
